header {
  background-color: #f5f5f5;
  padding: 20px;
}

h1 a {
  color: #333;
  text-decoration: none;
}

/* Styling for the "About" section */
#about {
  margin: 40px 0;
}

#about img {
  border-radius: 50%;
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Styling for blog posts */
.blog-post {
  margin-bottom: 40px;
}

.blog-post img {
  max-width: 100%;
}

.blog h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.blog h4 {
  font-size: 16px;
  color: #666;
}

.blog p {
  line-height: 1.5;
}

/* Styling for the footer section */
footer {
  text-align: center;
  margin-top: 40px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 10px;
}

.linkedin,
.github {
  margin-top: 20px;
  display: inline-block;
}
