/* Global Styles */
body {
    background-color: #282828;
    color: #ffffff;
    font-family: Arial, sans-serif;

    margin: 0;

    position: relative;
    min-height: 100vh;
}

/* Header-Footer Styles */
header {
    background-color: #000000;
    height: 150px;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.footer-content a {
    text-decoration: none;
    color: #2f89ff;
}

/* Title Menu */
    .title {
    position: absolute;

    height: 50px;

    top: 25px;
    left: 25px;
}

.title h1 {
    font-family: 'Staatliches', display;
    font-size: 3em; 
    margin: 0;
}

/* Navigation Menu */
.nav {
    position: absolute;

    height: 50px;

    bottom: 1px;
    right: 1px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: inline;
    margin: 0;

    width: 15em;
    height: 100%;

    background-color: #000000;
    border-color: #282828;

    border: none;
    
}

.button:hover {
    background-color:#282828;
}

.button:active {
    background-color: #000000;
}

.button h2 {
    color: #ffffff;
    
    font-family: 'Righteous', cursive;
    text-decoration: none;
    
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 2em;
    margin: 1em;
}

/* Banner Styles */
.banner {
    width: 100%;
    height: 25em;

    

    display: flex;
    justify-content: center;
}

.banner img {
    display: inline;
    object-fit: cover; 
    width: 100%;
}

/* Post Styles */
.post {
    background-color: #000000;
    border-color: #ffffff;

    border: solid 1px;
    border-radius: 11px;

    padding: 15px 1% 15px 1%;  
    margin: 50px 5% 50px 5%;
}

.post h2 {
    font-family: 'Staatliches', display;
    font-size: 2em;
    margin-left: 1%;
}

.post-content {
    display: flex;
    justify-content: center;
}

.post-content img {
    object-fit: cover; 
}

.post-content img, .post-content p {
    display: inline;
    width: 50%;
    margin: 1.5%;

    font-size: 1.25em;
}

/* Section Styles */
section {
    padding-bottom: 11em;
}

section h1 {
    color: #ffffff;
}

section p {
    color: #ffffff;
}

/* About Styles */
.about-panel {
    display: flex;
}

.about-column-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-column-text
{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.headshot {
    width: 75%;
    max-width: 500px;
    border-radius: 50%;
}

.about-text {
    font-family: 'Staatliches', display;
    font-size: 1.5em;
}

/* Contact Styles */
.contact-panel {
    padding-top: 7.5%;
    display: flex;
    font-family: 'Staatliches', display;
}

.contact-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-logo {
    width: 100%;
    max-width: 250px;
}